.App {
  width: 300px;
  margin:100px auto;
}

button {
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  background: #1746aa;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #4472dc;
}

p {
  display: block;
  text-align: center;
  font-weight: bold;
}